# last modified 6 October 2007 by J. Fox
# last modified 22 April 2009 by M. Friendly

import(heplots)
export(candisc, candiscList, dataIndex,
	cancor, vectors, Wilks, scores, redundancy)
S3method(candisc, mlm)
S3method(candiscList, mlm)
S3method(coef, candisc)
S3method(plot, candisc)
S3method(plot, candiscList)
S3method(print, candisc)
S3method(print, candiscList)
S3method(summary, candisc)
S3method(summary, candiscList)

# the following may be moved to the heplots package
S3method(heplot, candisc)
S3method(heplot3d, candisc)
S3method(heplot, candiscList)
S3method(heplot3d, candiscList)

# new for cancor
S3method(cancor, default)
S3method(cancor, formula)
S3method(print, cancor)
S3method(summary, cancor)
S3method(coef, cancor)
S3method(Wilks, cancor)
S3method(heplot, cancor)
S3method(scores, cancor)
S3method(print, cancor.redundancy)
S3method(plot, cancor)
S3method(heplot3d, cancor)








